.header-group {
    background: white;
    height: 75px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.header-name {
    width: 100%;
    padding-top: 20px;
    background: white;
    font-size: 14px;
    color: rgb(158, 152, 152);
}

.header-button {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    height: 40px;
    width: 90px;
    margin-top: 20px;
    margin-right: 25px;
    background: rgb(92, 216, 92);
    font-size: 14px;
    padding-right: 12px;
}

.header-button:hover {
    background: rgb(39, 151, 39);
}

.main-nav {
    background:white;
    height: 50px;
    // overflow-wrap: inherit;
}

#logo {
    position: relative;
    top: -20px;
    // padding-bottom: 30px;
    // padding-left: 10px;
    max-width: 170px;
    height: auto;
    background: transparent;
    overflow: visible;
    margin-bottom: -80px;
    z-index: 0;
}

.background {
    // padding-bottom: 200px;
    // overflow: hidden;
    width: 100%;
    display: flex;
    // justify-content: center;
    flex-direction: column;
    margin-right: 50px;
}


.bkg-text-1-1 {
    display: inline-block;
    height: 0;
    overflow: visible;
    position: relative;
    top: 65vw;
    right: 31%;
    background: transparent;
    color: black;
    font-size: 50px;
    z-index: 5;
}

.bkg-line-1-1 {
    height: 0;
    overflow: visible;
    position: relative;
    top: 67vw;
    right: 6.5%;
    background: transparent;
    color: black;
    font-size: 120px;
    z-index: 5;
}

.bkg-line-2-1 {
    height: 0;
    overflow: visible;
    position: relative;
    top: 56.3vw;
    right: 66.3%;
    background: transparent;
    color: black;
    font-size: 120px;
    z-index: 5;
}

.text2-container {
    display: block;
    height: 0;
    text-align: center;
}

.bkg-text-2-2 {
    display: block;
    height: 0;
    overflow: visible;
    position: relative;
    top: 76vw;
    left: 5%;
    background: transparent;
    color: black;
    font-size: 26px;
    z-index: 5;
}

.women-img {
    // position:relative;
    // bottom: 28px;
    z-index: 3;
    width: 100%;
    /* background-size: cover; */
}

.bkg-text-1 {
    height: 0;
    overflow: visible;
    position: relative;
    top: 9vw;
    left: 45%;
    background: transparent;
    color: white;
    font-size: 50px;
    z-index: 5;
}

.bkg-text-2 {
    display: block;
    height: 0;
    overflow: visible;
    position: relative;
    top: 15vw;
    left: 54.5%;
    background: transparent;
    color: white;
    font-size: 26px;
    z-index: 5;
}

.bkg-line-1 {
    height: 0;
    overflow: visible;
    position: relative;
    top: .11em;
    left: 65%;
    background: transparent;
    color: white;
    font-size: 120px;
    z-index: 5;
}

.bkg-line-2 {
    height: 0;
    overflow: visible;
    position: relative;
    top: 6.5vw;
    left: 65%;
    background: transparent;
    color: white;
    font-size: 120px;
    z-index: 5;
}

.stack-img {
    position: relative;
    padding-top: 50px;
    bottom: 120px;
    display:block;
}

.sneaker-add {
    width: 40%;
    // justify-content: center;
    position: absolute;
    left: 50vw;
    top: 180px;
    // background: transparent;
    z-index: 0;
    display:block;
}
.sky-img {
    position:absolute;
    width: 100%;
}

.cool-map {
    position: relative;
    top: 89vh;
    width: 100%;
}

.logo-link {
    padding-top:13px;
    background: transparent;
}

.create-route-link {
    padding-top:10px;
    padding-left: 10px;
    padding-right:5px;
    margin-top: 20px;
    margin-right: 20px;
    height: 25px;
    width: 120px;
    font-size: 14px;
    color: rgb(158, 152, 152);
    background: white;
    border: 3px solid lightgrey;
    border-radius: 5%;
}

.create-route-link:hover {
    background: #F0F0F0; 
}

.view-routes-link {
    height: 25px;
    width: 120px;
    font-size: 14px;
    color: rgb(158, 152, 152);
    background: white;
    border: 3px solid lightgrey;
    border-radius: 5%;
    padding-top: 10px;
    padding-left: 10px;
    margin-right: 20px;
    margin-top: 20px;
}

.view-routes-link:hover {
    background: #F0F0F0; 
}