.show-map-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-show {
    font-size: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid grey;
    background: white;
}

.home-show:hover{
    background: #F0F0F0; 
}

.home-span{
    position: relative;
    right: 40.5%;
}

.show-map-details {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.show-map-details * {
    margin-left: 25px;
}
#show-map {
    margin-bottom: 50px;
}

.route-distance {
    position: relative;
    left: 25%;
}

.cool-map {
    
}
